<head>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<style>
    html,body{
        width:100%;
        height:100%;
    }
    iframe{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
</style>
</head>

<body>
<iframe src="{{vrUrl}}" frameborder="0"></iframe>
</body>